<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>kalipo</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/bootstrap.css">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css">
    <!-- endbuild -->
</head>
<body ng-app="kalipoApp" ng-controller="MainController">
<!--[if lt IE 10]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
<div class="development"></div>

<nav class="navbar navbar-default" role="navigation" ng-switch="authenticated">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon-chevron-right"
                      style="color: #E84B56; text-shadow: 2px 2px #9D2D36;"></span>
                <span translate="global.title" style="font-weight: 900;">kalipo</span>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse-1">

            <form class="navbar-form navbar-left" role="search">
                <div class="input-group">
                    <input type="text" class="form-control" name="q">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
                <!-- /input-group -->
            </form>

            <ul class="nav navbar-nav navbar-left">
                <li><a href="#">Browse</a></li>
                <li><a href="#/discuss">Create Discussion</a></li>
            </ul>

            <ul class="nav navbar-nav nav-pills navbar-right">
                <li ng-switch-when="true" ng-controller="NoticeController" ng-init="hasUnseen()">
                    <a href="#/notifications" title="Notifications">
                        <span class="glyphicon glyphicon-bell" style="color: #E84B56;"
                              ng-show="hasUnseenNotices"></span>
                        <span class="glyphicon glyphicon-bell"
                              ng-show="!hasUnseenNotices"></span>
                    </a>
                </li>
                <li ng-switch-when="false">
                    <a href="#/register">
                        <span>
                            Create Account
                        </span>
                    </a>
                </li>
                <li ng-switch-when="false">
                    <a href="#/login">
                        <span>
                            Sign in
                        </span>
                    </a>
                </li>
                <li class="dropdown pointer" ng-switch-when="true">

                    <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;">
                        <span>
                            <!--<span class="glyphicon glyphicon-user"></span>-->
                            <span ng-switch-when="true">
                                {{login}}
                            </span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" ng-controller="MenuController">
                        <li>
                            <a href="#/settings">
                                <!--<span class="glyphicon glyphicon-user"></span>-->
                                &#xA0;
                                <span translate="global.menu.account.settings">Settings</span>
                            </a>
                        </li>

                        <li ng-switch-when="true">

                            <a href="#/likes">
                                <!--<span class="glyphicon glyphicon-thumbs-up"></span>-->
                                &#xA0;
                                <span>Likes</span>
                            </a>

                        </li>

                        <li ng-switch-when="true">

                            <a href="#/threads">
                            <!--<span class="glyphicon glyphicon-thumbs-up"></span>-->
                                &#xA0;
                                <span>Threads</span>
                            </a>

                        </li>

                        <li role="presentation" class="divider"></li>

                        <li>
                            <a href="#/password">
                                <span class="glyphicon glyphicon-lock"></span>
                                &#xA0;
                                <span translate="global.menu.account.password">Password</span>
                            </a>
                        </li>
                        <li>
                            <a href="#/sessions">
                                <span class="glyphicon glyphicon-cloud"></span>
                                &#xA0;
                                <span translate="global.menu.account.sessions">Sessions</span>
                            </a>
                        </li>
                        <li>
                            <a href="#/logout">
                                <span class="glyphicon glyphicon-log-out"></span>
                                &#xA0;
                                <span translate="global.menu.account.logout">Log out</span>
                            </a>
                        </li>
                    </ul>
                </li>

            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<div class="container">
    <div ng-view=""></div>

</div>

<footer class="footer" style="bottom: 0; position: fixed; width: 100%" ng-controller="FeedbackController">
    <div class="container-fluid">

        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#feedbackModal">
            Give Feedback
        </button>

        <!-- Modal -->
        <div class="modal fade" id="feedbackModal" tabindex="-1" role="dialog" aria-labelledby="feedbackModal"
             aria-hidden="true">
            <form name="form" role="form" novalidate
                  class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
                  ng-submit="submitFeedback()">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span
                                    aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title" id="myModalLabel">Feedback</h4>
                        </div>
                        <div class="modal-body">
                            <p>Please tell us what you think, any feedback is highly appreciated.</p>

                            <div class="form-group">
                                <textarea name="text" ng-model="feedback.text" class="form-control"
                                          placeholder="Your feedback, question, ideas" ng-minlength=5 ng-maxlength=1024
                                          required></textarea>
                            </div>
                            <div class="form-group">
                                <input name="name" ng-model="feedback.name" type="text" class="form-control"
                                       placeholder="Your name">
                            </div>
                            <div class="form-group">
                                <input name="email" ng-model="feedback.email" type="email" class="form-control"
                                       placeholder="Enter email">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid">Submit Feedback
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>
</footer>

<!-- Google Analytics: uncomment and change UA-XXXXX-X to be your site's ID.
<script>
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
    function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    e.src='//www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','UA-XXXXX-X');ga('send','pageview');
</script>-->


<!-- build:js scripts/scripts.js -->
<script src="bower_components/modernizr/modernizr.js"></script>

<script type="application/javascript">
    if (typeof String.prototype.endsWith !== 'function') {
        String.prototype.endsWith = function (suffix) {
            return this.indexOf(suffix, this.length - suffix.length) !== -1;
        };
    }
</script>
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/momentjs/min/moment.min.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-translate/angular-translate.js"></script>
<script src="bower_components/angular-translate-storage-cookie/angular-translate-storage-cookie.js"></script>
<script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
<script src="bower_components/angular-dynamic-locale/src/tmhDinamicLocale.js"></script>
<script src="bower_components/angular-noty/dist/angular-noty.dist.js"></script>
<script src="bower_components/angular-momentjs/angular-momentjs.min.js"></script>
<script src="bower_components/lodash/dist/lodash.min.js"></script>
<script src="scripts/http-auth-interceptor.js"></script>
<script src="scripts/truncate.js"></script>
<script src="scripts/utils.js"></script>
<script src="scripts/app.js"></script>
<script src="scripts/constants.js"></script>
<script src="scripts/controllers.js"></script>
<script src="scripts/services.js"></script>
<script src="scripts/directives.js"></script>
<script src="bower_components/atmosphere/atmosphere.js"></script>
<script src="bower_components/jquery-atmosphere/jquery.atmosphere.js"></script>
<script src="bower_components/bootstrap-sass/vendor/assets/javascripts/bootstrap/affix.js"></script>
<script src="bower_components/bootstrap-sass/vendor/assets/javascripts/bootstrap/alert.js"></script>
<script src="bower_components/bootstrap-sass/vendor/assets/javascripts/bootstrap/dropdown.js"></script>
<script src="bower_components/bootstrap-sass/vendor/assets/javascripts/bootstrap/tooltip.js"></script>
<script src="bower_components/bootstrap-sass/vendor/assets/javascripts/bootstrap/modal.js"></script>
<script src="bower_components/bootstrap-sass/vendor/assets/javascripts/bootstrap/transition.js"></script>
<script src="bower_components/bootstrap-sass/vendor/assets/javascripts/bootstrap/button.js"></script>
<script src="bower_components/bootstrap-sass/vendor/assets/javascripts/bootstrap/popover.js"></script>
<script src="bower_components/bootstrap-sass/vendor/assets/javascripts/bootstrap/carousel.js"></script>
<script src="bower_components/bootstrap-sass/vendor/assets/javascripts/bootstrap/scrollspy.js"></script>
<script src="bower_components/bootstrap-sass/vendor/assets/javascripts/bootstrap/collapse.js"></script>
<script src="bower_components/bootstrap-sass/vendor/assets/javascripts/bootstrap/tab.js"></script>
<script src="scripts/moderate/router_moderate.js"></script>
<script src="scripts/moderate/controller_moderate.js"></script>
<script src="scripts/moderate/controller_pending.js"></script>
<script src="scripts/moderate/service_comment.js"></script>
<script src="scripts/notice/router_notice.js"></script>
<script src="scripts/notice/controller_notice.js"></script>
<script src="scripts/notice/service_notice.js"></script>
<script src="scripts/privilege/router_privilege.js"></script>
<script src="scripts/privilege/controller_privilege.js"></script>
<script src="scripts/privilege/service_privilege.js"></script>
<script src="scripts/report/router_report.js"></script>
<script src="scripts/report/controller_report.js"></script>
<script src="scripts/report/service_report.js"></script>
<script src="scripts/reputation/router_reputation.js"></script>
<script src="scripts/reputation/controller_reputation.js"></script>
<script src="scripts/reputation/service_reputation.js"></script>
<script src="scripts/tag/router_tag.js"></script>
<script src="scripts/tag/controller_tag.js"></script>
<script src="scripts/tag/service_tag.js"></script>
<script src="scripts/thread/router_thread.js"></script>
<script src="scripts/browse/controller_browse.js"></script>
<script src="scripts/thread/controller_create_thread.js"></script>
<script src="scripts/thread/controller_view_thread.js"></script>
<script src="scripts/thread/controller_thread.js"></script>
<script src="scripts/thread/service_thread.js"></script>
<script src="scripts/vote/router_vote.js"></script>
<script src="scripts/vote/controller_vote.js"></script>
<script src="scripts/vote/service_vote.js"></script>
<script src="scripts/feedback/controller_feedback.js"></script>
<script src="scripts/feedback/service_feedback.js"></script>
<!-- endbuild -->

</body>
</html>
