body {
    background: #f9f9f9;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

.development {
    position: absolute;
    width: 149px;
    height: 149px;
    top: 0;
    left: 0;
    border: 0;
    z-index: 1000;
    background-image: url("../images/development_ribbon.png");
    background-position: center center;
    background-repeat: no-repeat;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.error {
    color: white;
    background-color: red;
}

.hipster {
    display: inline-block;
    width: 463px;
    height: 640px;
    background-image: url("../images/hipster.jpg");
    background-position: center center;
    background-repeat: no-repeat;
}

.hand {
    cursor: pointer;
}

#threadDump .popover, #healthCheck .popover {
    top: inherit;
    display: block;
    font-size: 10px;
    max-width: 1024px;
}

#healthCheck .popover {
    margin-left: -50px;
}

.alert .popover pre {
    font-size: 10px;
}

.voffset {
    margin-top: 2px;
}

.voffset1 {
    margin-top: 5px;
}

.voffset2 {
    margin-top: 10px;
}

.voffset3 {
    margin-top: 15px;
}

.voffset4 {
    margin-top: 30px;
}

.voffset5 {
    margin-top: 40px;
}

.voffset6 {
    margin-top: 60px;
}

.voffset7 {
    margin-top: 80px;
}

.voffset8 {
    margin-top: 100px;
}

.voffset9 {
    margin-top: 150px;
}

/* start Password strength bar style */
ul#strength {
    display: inline;
    list-style: none;
    margin: 0;
    margin-left: 15px;
    padding: 0;
    vertical-align: 2px;
}

.point:last {
    margin: 0 !important;
}

.point {
    background: #DDD;
    border-radius: 2px;
    display: inline-block;
    height: 5px;
    margin-right: 1px;
    width: 20px;
}

/* end Password strength bar style */

/* Customizations */

a,
a:focus,
a:hover {
    color: blue;
}

.comment-wrapper.level-0 { margin-top:15px }
.comment-wrapper { }
.comment {
    padding: 5px;
}

.comment-bar-likes {
    height: 2px;
    background: none repeat scroll 0 0 #167ac6;
    float: left;
}

.comment-bar-dislikes {
    height: 2px;
    background: none repeat scroll 0 0 #ccc;
}

.comment .menu {
    color: #efefef;
    padding-top: 5px;
}

.comment .menu a {
    margin-right: 5px;
    color: #ccc;
}

.comment:after {
    clear: both;
}

/*.comment:hover {*/
    /*background: none repeat scroll 0 0 #ffffff;*/
    /*-moz-box-shadow: 0px 0px 2px 0px #ccc;*/
    /*-webkit-box-shadow: 0px 0px 2px 0px #ccc;*/
    /*box-shadow: 0px 0px 2px 0px #ccc;*/
/*}*/

.comment .mod-menu {
    visibility: hidden;
}
.comment:hover .mod-menu {
    visibility: visible;
    color: blue;
}

.comment .flag a {
    visibility: hidden;
}

.comment:hover .flag a {
    color: #767676;
    visibility: visible;
}

.comment .vote-stats {
    font-size: small;
    color: #767676;
}

.comment:hover .voteUp,
.comment .voteUp.always {
    color: green;
}

.comment:hover .voteDown,
.comment .voteDown.always {
    color: red;
}

.comment:hover a {
    color: blue;
}


/*
    PENDING LABEL
*/
.label-pending {
    display: none;
}
.pending .label-pending {
    display: inline;
}

.comment-wrapper.level-0 { border-top: 1px solid #e1e1e1; }

.comment .name { font-weight: bold; }

.comment .body {
    margin-top: 5px;
    margin-bottom: 5px;
    white-space: pre-wrap;       /* CSS3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    line-height: 20px;
}

.body.tiny .show-more-content {
    max-height: 100px; /* line-height * COMMENT_SETTINGS.criticalLineCount */
    overflow: hidden;
}

.body .more {
    display: none;
    font-size: smaller;
}

.body .less {
    font-size: smaller;
}

.body.tiny .more { display:block; }
.body.tiny .less { display:none; }

/*.comment .show-full-comment { margin:5px; }*/
.comment .points { color: grey; padding-left: 5px; padding-right: 5px; }
.comment .date { color: grey; font-size: smaller; margin-left: 5px; }
.comment .mod-menu { margin-right: 5px; }
.comment .label-pending {}
.icon {display: inline;}
.icon-implode {}
.icon-expand {display: none;}
.comment .text {white-space: pre-line;}
.comment .menu {font-size: smaller}
.comment .menu A {margin-right:8px;}
.comment .show-full-comment {display: none;}
.comment .toggle-replies-link {display: none; margin-top:10px;}
.comment-wrapper .toggle-optionals {padding-bottom:10px; padding-left:10px; }
.comment-wrapper .toggle-optionals-of { font-size: smaller; color:gray; margin-left: 10px }

.oneline>.comment .icon {display: none;}
.oneline>.comment .name {display: inline; float: left; margin-right: 0.5em; }
.oneline>.comment .body {white-space: nowrap; overflow: hidden; color: rgb(125, 125, 125);}
.oneline>.comment .points {display: none;}
.oneline>.comment .date {display: none;}
.oneline>.comment .label-pending {}

.oneline>.comment .text {
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    line-height: 12px
}

.oneline>.comment .menu {display: none;}
.oneline>.comment .show-full-comment {display: inline-block;}

.in-ticker > .comment .name {
}

.in-ticker > .comment .body {
    white-space: nowrap;
    overflow: hidden;
}

.in-ticker > .comment .date {
}

.oneline > .comment .menu {
    display: none;
}

.hiddenreplies .name {}
.hiddenreplies .points {}
.hiddenreplies .date {}
.hiddenreplies .icon-implode {display: none;}
.hiddenreplies .icon-expand {display: inline-block;}
.hiddenreplies .label-pending {}
.hiddenreplies .text {display: none;}
.hiddenreplies .menu {}
.hiddenreplies .show-full-comment {}
.hiddenreplies .replies {display: none;}
.hiddenreplies .toggle-optionals {display: none;}
.hiddenreplies .toggle-replies-link {display: inline-block;}

.fresh-item {
   background-color: #cccccc;
}

.hideMe {
    -moz-animation: hideAnimation 0s ease-in 15s forwards;
    /* Firefox */
    -webkit-animation: hideAnimation 0s ease-in 15s forwards;
    /* Safari and Chrome */
    -o-animation: hideAnimation 0s ease-in 15s forwards;
    /* Opera */
    animation: hideAnimation 0s ease-in 15s forwards;
}

@keyframes hideAnimation
{
    0% {opacity:1;}
    100% {opacity:0;}
}

@-moz-keyframes hideAnimation /* Firefox */
{
    0% {opacity:1;}
    100% {opacity:0;}
}

@-webkit-keyframes hideAnimation /* Safari and Chrome */
{
    0% {opacity:1;}
    100% {opacity:0;}
}

@-o-keyframes hideAnimation /* Opera */ {
    0% {opacity:1;}
    100% {opacity:0;}
}

/* -- quotes -- */
.quote {
    padding: 0.2em 1em;
    border-left:0.4em solid #ccc;
    color: #999;
    font-size: 92%;
    font-style: italic;
}
.quote:after {
    white-space: normal;
}

.oneline .quote { display:none }

.body.tiny .quote {
    display: none
}
.quote:first-child {
    margin-top:1em;
}

.quote:last-child {
    margin-bottom:1em;
}


.abused-report {
    /*border-radius: 4px;*/
    padding: 15px;
    background-color: #f4f2db;
    border-bottom: 1px solid #e7e5cf;
    color: #8a832b;
}

#klp-outline rect {
    cursor: pointer;
}
.report {
    /*border-radius: 4px;*/
    padding: 15px;
    background-color: #d9edf7;
    border-bottom: 1px solid #bce8f1;
    color: #31708f;
}

.kalert {
    background-color: #ffd24e;
    border-radius: 2px;
    clear: left;
    line-height: 1.5;
    margin: 15px 0;
    overflow: visible;
    padding: 6px 18px;
    position: relative;
    margin: auto;
    width: 300px;
}

/* sNotify css */
.sNotify_message {
    width: 250px;
    padding: 20px;
    background-color: white;
    position: absolute;
    display: none;
    right: 0px;
    top: 20px;
    margin-bottom: 20px;
    text-align: justify;
    border: 1px solid #808080;
}

.sNotify_close {
    display: block;
    background-color: black;
    padding: 3px;
    position: absolute;
    top: -5px;
    right: -5px;
    color: white;
    font-weight: bold;
    width: 10px;
    height: 10px;
    cursor: pointer;
    text-align: center;
    line-height: 10px;
}

/* field validation */
.ng-pristine {
}

.ng-dirty {
}

.ng-valid {
}

.ng-invalid {
}

input.ng-invalid.ng-dirty {
    border: 1px solid red;
}

input.ng-valid.ng-dirty {
    border: 1px solid green;
}

form .error-container {
    color: #bb1f34
}

/* notifications */
.flash {
    padding: 10px 18px;
    margin-bottom: 15px
}

.flash-info {
    background-color: #bfd9f5;
}

nav {
    background-color: #13c7a8;
    color: white;
    padding: 10px 0 10px 0;
}

nav a {
    color: #efefef;
}

nav .nav-pills a:hover {
    color: gray;
}

.field-comment {
    resize: vertical;
    min-height: 30px;
}

.votes {
    font-size: 14px;
    font-weight: bold;
}

.klp-header {
    padding-bottom: 5px;
    margin-bottom: 10px;
    /*border-bottom: 1px solid #e5e5e5;*/
}
