<div class="col-lg-8 clearfix">
    <h3>Browse</h3>
</div>

<div class="col-lg-8">

    <div class="panel panel-default">
        <div class="panel-body">

            <div ng-show="threads.length == 0">No threads exist. <a href="#/discuss">Start a discussion</a>.
            </div>

            <div>
                <div ng-repeat="(day, threads) in byDays" style="margin-bottom: 20px;">

                    <strong>{{day}}</strong>

                    <div ng-repeat="thread in threads">
                        <div class="row comment">
                            <div class="col-sm-12 col-xs-12">

                                <a href="#/v/{{::thread.id}}">{{::thread.title}}</a>

                                <p>
                                    {{::thread.body}} -- <a href="#/v/{{::thread.id}}"><span
                                    ng-if="thread.commentCount > 0">{{::thread.commentCount}} comments</span><span
                                    ng-if="thread.commentCount == 0">No comments yet</span></a>
                                </p>

                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-4">
    <ul class="list-unstyled">
        <li><a href="">Do this</a></li>
        <li><a href="">Do that</a></li>
    </ul>
</div>
