<div class="col-lg-12">

    <ul class="nav nav-tabs" role="tablist">
        <li><a href="#/hot">Hot</a></li>
        <li><a href="#/">New</a></li>
        <li><a href="#/rising">Rising</a></li>
    </ul>

    <div class="panel panel-default">
        <div class="panel-body">

            <div ng-show="threads.length == 0">No threads exist. <a href="#/discuss">Start a discussion</a>.
            </div>

            <div>
                <div ng-repeat="(day, threads) in byDays" style="margin-bottom: 20px;">

                    <strong>{{day}}</strong>

                    <div ng-repeat="thread in threads">
                        <div class="row comment">
                            <div class="col-sm-12 col-xs-12">

                                <a href="#/comments/{{::thread.id}}">{{::thread.title}}</a>

                                <p>
                                    {{::thread.body}} -- <a href="#/comments/{{::thread.id}}"><span
                                    ng-if="thread.commentCount > 0">{{::thread.commentCount}} comments</span><span
                                    ng-if="thread.commentCount == 0">No comments yet</span></a>
                                </p>

                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
