<div>

    <div class="row">
        <h2>{{thread.title}}</h2> <span style="color: gray">created {{thread.created | fromNow}}</span>
        <h4>{{commentCount}} comments</h4>
    </div>

    <!--<div class="row">-->
        <!--<ul class="nav nav-tabs" role="tablist">-->
            <!--<li class="active"><a href="javascript:void(0)">Discussion</a></li>-->
            <!--<li><a href="#/thread/{{thread.id}}/pending">Pending <span class="badge" ng-show="pendingCount > 0">{{pendingCount}}</span></a>-->
            <!--</li>-->
            <!--<li><a href="#/thread/{{thread.id}}/reports">Reports <span class="badge" ng-show="reportCount > 0">{{reportCount}}</span></a>-->
            <!--</li>-->
            <!--<li><a href="#/thread/{{thread.id}}/my">My</a></li>-->
        <!--</ul>-->

        <!--<div style="margin-top: 15px">-->

            <!--<div ng-include="'create_comment_renderer.html'"></div>-->

            <!--<dl style="margin:0;">-->
                <!--<dd ng-repeat="comment in approved | orderBy:createdDate" ng-include="'comment_renderer.html'">-->

                <!--</dd>-->
            <!--</dl>-->

            <!--<div ng-show="approved.length > 10" style="margin-top: 10px">-->
                <!--<div ng-include="'create_comment_renderer.html'"></div>-->
            <!--</div>-->

        <!--</div>-->
    <!--</div>-->
</div>

<script type="text/ng-template" id="likes_renderer.html">
    <div ng-show="comment.dislikes > 0 || comment.likes > 0">
        <div ng-show="comment.dislikes > 0" style="color: red; display: inline-block">
            {{comment.dislikes}}
            <div style="height:5px; background-color: red; width: {{3 * comment.dislikes}}px; max-width: 120px; display: inline-block; margin: 2px 0 2px 0"></div>
        </div>
        <div ng-show="comment.likes > 0" style="color: green; display: inline-block">
            <div style="height:5px; background-color: green; width: {{3 * comment.likes}}px; max-width: 120px; display: inline-block; margin: 2px 0 2px 0"></div>
            {{comment.likes}}
        </div>
    </div>
</script>

<script type="text/ng-template" id="create_comment_renderer.html">

    <div style="padding: 10px; margin-bottom: 10px; background-color: #cbdaef; border-radius: 4px;">
        <h4>Your comment</h4>

        <form name="form" role="form" novalidate ng-submit="draft.parentId = null; create()">
            <div><input class="form-control" ng-model="draft.title" ng-minlength=1 ng-maxlength=148
                        placeholder="Title"></div>
            <div><textarea class="form-control" placeholder="Type your comment here..." ng-model="draft.text"
                           ng-minlength=1 ng-maxlength=2048 required></textarea></div>

            <div>
                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">
                    Post as Anonymous
                </button>
            </div>

        </form>

    </div>

</script>

<script type="text/ng-template" id="replyto_comment_renderer.html">

    <div style="padding: 10px; background-color: #cbdaef; border-bottom-left-radius: 4px; border-bottom-right-radius: 4px">

        <form name="form" role="form" novalidate ng-submit="draft.parentId = comment.id; create()">
            <h4>Reply</h4>
            <input class="form-control" ng-model="draft.title" ng-minlength=1 ng-maxlength=148
                   placeholder="Title..."/>

            <div><textarea class="form-control" placeholder="Type your comment here..." ng-model="draft.text"
                           ng-minlength=1 ng-maxlength=2048 required></textarea></div>

            <div class="btn-group">
                <button type="button" class="btn btn-default" ng-click="comment.reply = false" title="Cancel">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">
                    Reply as Anonymous
                </button>
            </div>

        </form>

    </div>

</script>

<script type="text/ng-template" id="comment_renderer.html">

    <div>

        <div ng-switch on="comment.maximized">

            <!-- Maximized view -->
            <div ng-switch-default>

                <div class="post">
                    <a id="{{comment.id}}"></a>

                    <div>
                        <div class="menu" style="display: inline">
                            <a href="javascript:void(0)"
                               ng-click="comment.maximized = !comment.maximized" title="Click to minimize">
                                <span class="glyphicon glyphicon-resize-small"></span></a>
                        </div>

                        <span ng-show="comment.parentId == null" class="glyphicon glyphicon-leaf"
                              style="color: #666"></span>
                        <strong>
                            <!--<a ng-show="comment.parentId != null" href="javascript:void(0)"-->
                            <!--ng-click="scrollTo(comment.parentId)">Re:</a>-->

                            {{comment.title}}
                        </strong>
                    </div>

                    <div ng-include="'likes_renderer.html'"></div>

                    <div>
                        <span style="white-space: pre-line">{{comment.text}}</span> -- <a href="/">
                        {{comment.displayName}} </a>
                        <span style="color: grey" title="{{comment.createdDate | dateString }}">{{comment.createdDate | fromNow }}</span>
                    </div>

                    <div class="menu" style="border-top: 1px solid #efefef;">
                        <a href="javascript:void(0)" ng-click="toggleReplyForm(comment)">
                            Reply
                        </a>
                        <a class="voteUp" href="javascript:void(0)" ng-click="like(comment)">
                            <span class="glyphicon glyphicon-thumbs-up"></span>
                        </a>
                        <a class="voteDown" href="javascript:void(0)" ng-click="dislike(comment)">
                            <span class="glyphicon glyphicon-thumbs-down"></span>
                        </a>
                        <a ng-show="comment.parentId != null" href="javascript:void(0)"
                           ng-click="scrollTo(comment.parentId)">
                            Parent
                        </a>
                        <a href="#/thread/{{comment.threadId}}/{{comment.id}}" title="Permalink">
                            <span class="glyphicon glyphicon-link"></span>
                        </a>

                        <div class="flag pull-right">
                            <a href="javascript:void(0)"
                               ng-click="toggleReportForm(comment)"
                               title="Report this comment">
                                <span class="glyphicon glyphicon-flag"></span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="input-group"
                     style="margin-bottom: 20px; padding: 10px; background-color: #cbdaef; border-bottom-left-radius: 4px; border-bottom-right-radius: 4px"
                     ng-show="comment.report">
                    <input type="text" ng-maxlength=148 ng-minlength=1 ng-model="reportModel.reason"
                           placeholder="Tell us, what is wrong with this comment"
                           class="form-control ng-valid ng-valid-maxlength ng-valid-minlength">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="comment.report = false" title="Cancel"><span
                            class="glyphicon glyphicon-remove"></span></button>
                    <button class="btn btn-primary" type="button" ng-click="report(comment)">Send Report
                    </button>
                </span>
                </div>
                <!-- /input-group -->

                <div ng-show="comment.reply">
                    <div ng-include="'replyto_comment_renderer.html'"></div>
                </div>

                <!-- sub comments -->
                <div ng-hide="comment.subcomments.length == 0"
                     style="border-left: 10px solid #dedede;">
                    <dl style="margin:0;">
                        <dd ng-repeat="comment in comment.subcomments | orderBy:createdDate"
                            ng-include="'comment_renderer.html'"></dd>
                    </dl>

                </div>

            </div>

            <!-- Minimized view -->

            <div ng-switch-when="false">

                <div class="minimized post" style="cursor: pointer;" title="Click to maximize">

                    <!--<strong><a href="javascript:void(0)" ng-click="scrollTo(comment.parentId)"-->
                    <!--ng-show="{{comment.parentId != null}}">Re:</a></strong>-->

                    <div style="overflow: hidden; max-height:3em; min-height:1.8em;"
                         ng-click="comment.maximized = !comment.maximized">

                        <div style="display: inline">
                            <a href="javascript:void(0)">
                                <span class="glyphicon glyphicon-resize-full"></span></a>

                            <span ng-show="comment.parentId == null" class="glyphicon glyphicon-leaf"
                                  style="color: #666"></span>

                            <strong>{{comment.title}}</strong>
                            <span style="color: grey">({{comment.subcomments.length}} children)</span>
                        </div>

                        <div style="white-space: nowrap; cursor: pointer; color: grey; display: inline">
                            <span>{{comment.text}}</span>
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</script>