<div>

    <h2>Comments</h2>

    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#saveCommentModal" ng-click="clear()">
        <span class="glyphicon glyphicon-flash"></span> Create a new Comment
    </button>
    <div class="modal fade" id="saveCommentModal" tabindex="-1" role="dialog" aria-labelledby="myCommentLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" role="form" novalidate
                      class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
                      ng-submit="create()">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myCommentLabel">Create or edit a Comment</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="comment.id" readonly>
                        </div>

                        <div class="form-group">
                            <label>threadId</label>
                            <input type="text" class="form-control" name="threadId"
                                   ng-model="comment.threadId">
                        </div>

                        <div class="form-group">
                            <label>parentId</label>
                            <input type="text" class="form-control" name="parentId"
                                   ng-model="comment.parentId">
                        </div>

                        <div class="form-group">
                            <label>title</label>
                            <input type="text" class="form-control" name="title"
                                   ng-model="comment.title">
                        </div>

                        <div class="form-group">
                            <label>text</label>
                            <input type="text" class="form-control" name="text"
                                   ng-model="comment.text">
                        </div>

                        <div class="form-group">
                            <label>status</label>
                            <input type="text" class="form-control" name="status"
                                   ng-model="comment.status">
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                        </button>
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span> Save
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>parentId</th>
                    <th>title</th>
                    <th>status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="comment in comments">
                    <td>{{comment.id}}</td>
                    <td>{{comment.parentId}}</td>
                    <td>{{comment.title}}</td>
                    <td>{{comment.status}}</td>
                    <td>
                        <button type="submit"
                                ng-click="update(comment.id)"
                                class="btn">
                            <span class="glyphicon glyphicon-pencil"></span> Edit
                        </button>
                        <button type="submit"
                                ng-click="delete(comment.id)"
                                class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span> Delete
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
