<h3 class="klp-header">
    Dashboard
</h3>

<div class="col-lg-3 col-sm-4">
    <div class="list-group">
        <a href="#/d" class="list-group-item active">Dashboard</a>
        <a href="#/notifications" class="list-group-item">Notifications</a>
        <a href="#/threads" class="list-group-item">Threads</a>
        <a href="#/comments" class="list-group-item">Comments I Made</a>
        <a href="#/likes" class="list-group-item">Likes</a>
        <a href="#/achievements" class="list-group-item">Achievements</a>
    </div>
</div>

<div class="col-lg-9 col-sm-8">

    Place a wordpress-like overview panel or github contributions

</div>
