<div>

    <div class="col-lg-9 col-md-8 col-xs-7">

        <div class="panel panel-default">

            <div class="panel-body">

                <div ng-if="thread.link">
                    <h4 style="display: inline;">
                        <a href="{{ ::thread.link}}">{{ ::thread.title}}</a>
                    </h4>
                    [{{ ::thread.domain}}]
                </div>
                <div ng-if="!thread.link">
                    <h4>
                        {{ ::thread.title}}
                    </h4>
                </div>

                <p>
                    submitted {{ thread.createdDate | fromNow}} by {{::thread.displayName}}
                    <span ng-if="authenticated">
                        [<a href="#/comments/{{$threadId}}/edit">Edit</a>]
                    </span>
                </p>

                <div ng-if="thread.bodyHtml" ng-bind-html="renderHtml(thread.bodyHtml)">
                </div>

            </div>

        </div>

        <div ng-include="'views/modal_login.html'"></div>
        <div ng-include="'views/modal_reply.html'"></div>
        <div ng-include="'views/modal_report.html'"></div>

        <div class="alert alert-danger" ng-if="thread.status == 'LOCKED'">
            This discussion is <strong>temporarily locked</strong>. Currently, you cannot post new comments.
        </div>
        <div class="alert alert-danger" ng-if="thread.status == 'CLOSED'">
            This discussion is <strong>closed</strong>.
        </div>

        <div ng-switch="thread.pendingCount==0 || $showPending">
            <h4>
                <span ng-switch-when="true">{{::thread.commentCount + thread.pendingCount}} comments,</span>
                <span ng-switch-when="false">{{::thread.commentCount}} comments
                    (
                    <a href="javascript:void(0)" ng-click="$showPending = !$showPending"><span
                        ng-show="$showPending">Hide</span>
                        <span ng-show="!$showPending">Show</span>
                        {{::thread.pendingCount}} unapproved</a>
                    ),
                </span>
                {{visitorCount}} users online
            </h4>
        </div>

        <!-- todo ng-class does not work -->
        <div class="panel panel-default" ng-class="$showPending ? 'hide-pending' : ''">
            <div class="panel-body">

                <div ng-include="'create_comment.template'"></div>

                <div ng-scroll-bottom-reached="loadMore()">
                    <div ng-repeat="page in pages">

                        <discussion></discussion>

                    </div>

                    <div class="text-center" ng-show="$busy">
                        <i class="glyphicon glyphicon-refresh spinning"></i>
                    </div>

                </div>

                <div ng-show="$isEmptyDiscussion">
                    <div style="padding: 20px" class="text-center">
                        No comments yet.
                    </div>

                </div>

                <button class="btn btn-primary" ng-click="loadMore()" ng-hide="$busy || $isLastPage"
                        style="width: 100%">Show More
                </button>

                <div ng-show="!$isEmptyDiscussion && $isLastPage" class="text-center" style="font-size: large">
                    &diams;
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-4 col-xs-5">
        <div
            style="position: fixed; width: 0; height: 0; top:0; opacity: 0.2; background-color: rgb(0, 255, 66);"
            id="outline-viewport-indicator" title="your viewport, the comments you see"></div>
        <div id="outline-scroll-wrapper" style="overflow-y: auto; overflow-x: hidden;">
            <!-- todo ng-scroll-bottom-reached="loadMore()">-->
            <div id="outline-scrollable">
                <div ng-outline pages="pages"></div>
            </div>
        </div>
    </div>

</div>

<script type="text/ng-template" id="create_comment.template">
    <div style="padding-top: 10px;" class="clearfix">
        <fieldset>
            <textarea class="form-control field-comment" placeholder="Have Something To Say?" rows="1"
                      ng-model="draft.body" ng-focus="fullReplyArea = true"></textarea>
        </fieldset>

        <fieldset style="padding-top:10px" ng-show="fullReplyArea">
            <button class="btn btn-default btn-sm" ng-click="showReplyModal('','')" title="Fullscreen">
                <span class="glyphicon glyphicon-fullscreen"></span>
            </button>
            <button class="btn btn-primary btn-sm pull-right" ng-click="submitComment()">
                Save
                <span aria-hidden="true" class="glyphicon glyphicon-option-horizontal"></span>
            </button>
        </fieldset>
    </div>
</script>
