<div ng-controller="ThreadController">

    <div class="clearfix klp-header">

        <div style="float: left">
            <h2 style="display: inline">
                {{ ::thread.title}}
            </h2>

            <div>
                by {{::thread.displayName}}, {{:: thread.createdDate|dateString}} ({{:: thread.createdDate|fromNow}})
            </div>
        </div>
        <div>
            <ul class="nav nav-pills pull-right">
                <li role="presentation" ng-if="mainCtrl.authenticated">
                    <a href="#/moderate/{{::$threadId}}/pending">
                        Pending
                        <span class="glyphicon glyphicon-bell" style="color: #E84B56;"
                              ng-if="$pendingCount > 0"></span>
                        <!--<span style="color: #E84B56; font-weight: bolder">&diams;</span>-->
                    </a>
                </li>
                <li role="presentation" ng-if="mainCtrl.authenticated">
                    <a href="#/moderate/{{::$threadId}}/reports">
                    Reports
                        <span class="glyphicon glyphicon-bell" style="color: #E84B56;"
                              ng-if="$reportCount > 0"></span>
                    </a>
                </li>
                <li role="presentation">
                    <a href="javascript:void(0)" ng-click="$viewMode = !$viewMode">
                        <span ng-if="!$viewMode">Edit</span>
                        <span ng-if="$viewMode">View</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>


    <div ng-if="$viewMode">

        <div ng-include="'views/thread-edit.html'"></div>

    </div>

    <div ng-if="!$viewMode">
        <div class="col-lg-8 col-md-8 col-xs-8">

            <div class="row">
                {{::thread.text}}
            </div>

            <h4 class="row"
                style="margin-top: 20px; margin-bottom: 10px; border-bottom: 1px solid #e5e5e5; padding-bottom: 5px;">
                {{::thread.commentCount}}
                <a ng-if="!$showPending && $pendingCount >0" href="javascript:void(0)"
                   ng-click="$showPending = !$showPending" title="Show Pending">+{{::$pendingCount}}</a>
                comments
            </h4>

            <div class="row">

                <comment-create></comment-create>

                <div ng-repeat="page in pages">
                    Page {{page.id}}: {{page.comments.length}} comments
                    <dl style="margin:0;">

                        <collection collection="page.comments" page="page"></collection>

                    </dl>
                    <a id="page-{{page.id +1}}"></a>
                </div>
            </div>

            <a href="javascript:void(0)" ng-click="loadMore()" class="btn btn-primary" ng-hide="$isLastPage"
               style="margin-top:20px; width: 100%;">Load More</a>

            <hr>

            Moderated by <span ng-repeat="modId in thread.modIds">{{::modId}} </span>
        </div>

        <div class="col-lg-3 col-md-3 col-xs-3 col-lg-push-1 col-md-push-1 col-xs-push-1">
            <div style="overflow-y: auto; overflow-x: hidden;">
                <thread-outline pages="pages"></thread-outline>
            </div>
        </div>

    </div>
</div>
