<div class="col-lg-push-3 col-lg-6">

    <h3>Start a Discussion</h3>

    <form name="form" role="form" novalidate ng-submit="create()">

        <div class="panel panel-default">
            <div class="panel-body">

                <div>
                    Hi, glad you're taking the lead.
                </div>

                <hr>

                <div class="row form-group">
                    <div class="col-md-3">Title*</div>
                    <div class="col-md-9">
                        <input name="title" class="form-control" ng-model="thread.title"
                               placeholder="6-10 words is the magic headline range!" required ng-minlength="10"
                               ng-maxlength="64">

                        <div class="error-container"
                             ng-show="form.title.$dirty && form.title.$invalid">
                            <small ng-show="form.title.$error.required">
                                Title is required.
                            </small>
                            <small ng-show="form.title.$error.minlength">
                                Title is required to be at least 10 characters
                            </small>
                            <small ng-show="form.title.$error.maxlength">
                                Title cannot be longer than 64 characters
                            </small>
                        </div>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-md-3">Link</div>
                    <div class="col-md-9">
                        <input name="title" class="form-control" ng-model="thread.link"
                               placeholder="http://" required ng-minlength="10"
                               ng-maxlength="200">

                        <div class="error-container"
                             ng-show="form.body.$dirty && form.body.$invalid">
                            <small ng-show="form.body.$error.maxlength">
                                Text cannot be longer than 200 characters
                            </small>
                        </div>
                    </div>
                </div>

                <div class="row form-group" title="Only users with a higher reputation than specified will be able to participate">
                    <div class="col-md-3">Reputation Challenge</div>
                    <div class="col-md-9">
                        <input name="reputationChallenge" class="form-control" ng-model="thread.reputationChallenge"
                               placeholder="0" required ng-minlength="0"
                               ng-maxlength="4">
                        <!-- todo query how many users achieve it -->

                        <div class="error-container"
                             ng-show="form.reputationChallenge.$dirty && form.reputationChallenge.$invalid">
                            <small>This challenge is too high, nobody will achieve it.</small>
                        </div>
                    </div>
                </div>

                <!--<div class="row form-group" title="Discussion won't be listed anywhere. You can change this afterwards too.">-->
                    <!--<div class="col-md-3">Hidden</div>-->
                    <!--<div class="col-md-9">-->
                        <!--<input name="hiddenDiscussion" class="form-control" ng-model="thread.hidden"-->
                               <!--placeholder="0" required type="checkbox">-->
                    <!--</div>-->
                <!--</div>-->
                <!-- -->
                <!--<div class="row form-group">-->
                    <!--<div class="col-md-3">Type</div>-->
                    <!--<div class="col-md-9">-->
                        <!--<select-->
                            <!--ng-model="thread.type"-->
                            <!--ng-options="opt.name for opt in discussionTypes track by opt.id"-->
                            <!--required="required">-->
                        <!--</select>-->
                    <!--</div>-->
                <!--</div>-->

                <div class="row form-group">
                    <div class="col-md-3">Teaser*</div>
                    <div class="col-md-9">
                        <textarea name="body" class="form-control" placeholder="For the lead comment, brevity is the key."
                                  ng-model="thread.body"
                                  ng-minlength=2 ng-maxlength=4096 required style="height: 170px"></textarea>

                        <div class="error-container"
                             ng-show="form.body.$dirty && form.body.$invalid">
                            <small ng-show="form.body.$error.required">
                                Text is required.
                            </small>
                            <small ng-show="form.body.$error.minlength">
                                Text is required to be at least 2 characters
                            </small>
                            <small ng-show="form.body.$error.maxlength">
                                Text cannot be longer than 4096 characters
                            </small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel-footer">
                <div class="form-group">
                    <button type="reset" class="btn btn-default">
                        Cancel
                    </button>
                    <button type="submit" class="btn btn-primary pull-right" ng-disabled="form.$invalid">
                        Create Discussion
                    </button>
                </div>

            </div>

        </div>

    </form>

</div>
