<h3 class="klp-header">
    Likes
</h3>

<div ng-init="fetchVotes()">

    <div ng-switch on="likes.length == 0">

        <div ng-switch-default>
            No likes
        </div>

        <div ng-switch-when="false" class="clearfix">
            <div ng-repeat="comment in likes | orderBy:$vote.createdDate">
                <div ng-include="'comment_renderer.template'"></div>
            </div>
        </div>

    </div>

</div>

<script type="text/ng-template" id="comment_renderer.template">
    <div style="margin-bottom: 15px">

        <p>

            <span class="glyphicon glyphicon-thumbs-up" ng-show="comment.$vote.like" style="color:green;"></span>
            <span class="glyphicon glyphicon-thumbs-down" ng-show="!comment.$vote.like" style="color:red;"></span>

            {{comment.$vote.createdDate|fromNow}}

        </p>

        <div class="post">

            <a href="javascript:void(0)"><strong>{{comment.displayName}}</strong></a>
            <span style="color: grey; font-size: smaller" title="{{comment.createdDate | dateString }}">{{comment.createdDate | fromNow }}</span>

            <div style="white-space: pre-line">{{comment.text}}</div>
        </div>

    </div>
</script>
