<div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 box box-padding">
            <h2 style="margin-bottom: 15px; padding-bottom:10px;">Login or <a href="#/register">Sign up</a></h2>

            <div>
                <a class="btn btn-default" href="javascript:void(0)" title="Google">
                    <i class="fa fa-google"></i>
                </a>
                <a class="btn btn-default" href="javascript:void(0)" title="Twitter">
                    <i class="fa fa-twitter"></i>
                </a>
                <a class="btn btn-default" href="javascript:void(0)" title="Facebook">
                    <i class="fa fa-facebook"></i>
                </a>
                <a class="btn btn-default" href="javascript:void(0)" title="derStandard.at">
                    derStandard.at
                </a>
                <a href="javascript:void(0)" title="More">
                    more...
                </a>
            </div>

            <div class="row" style="margin-top:15px; margin-bottom:15px; ">
                <div class="col-md-push-4 col-md-4 text-center">
                    OR
                </div>
            </div>

            <div class="alert alert-danger" ng-show="authenticationError"
                 translate="login.messages.error.authentication">
                <strong>Authentication failed!</strong> Please check your credentials and try again.
            </div>

            <form class="form" role="form">
                <div class="form-group">
                    <!--<label for="username" translate="global.form.username">Login</label>-->
                    <input type="text" class="form-control" id="username"
                           placeholder="{{'global.form.username.placeholder' | translate}}" ng-model="username">
                </div>
                <div class="form-group">
                    <!--<label for="password" translate="login.form.password">Password</label>-->
                    <input type="password" class="form-control" id="password"
                           placeholder="{{'login.form.password.placeholder' | translate}}"
                           ng-model="password">
                </div>

                <button type="submit" class="btn btn-primary btn-block btn-lg" ng-click="login()"
                        translate="login.form.button">
                    Login
                </button>

                <div class="row" style="margin-top:15px">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="rememberMe">
                                <input type="checkbox" id="rememberMe"
                                       ng-model="rememberMe" checked>
                                {{"login.form.rememberme" | translate}}
                            </label>
                        </div>
                    </div>

                    <div class="col-md-6 text-right">
                        <a href="javascript:void(0)">Forgot password?</a>
                    </div>
                </div>
            </form>

        </div>
        <div class="col-md-4"></div>
    </div>
</div>
