<div class="col-lg-push-3 col-lg-6">

    <h3>Login</h3>

    <div class="panel panel-default">
        <div class="panel-body">

            <div class="alert alert-danger" ng-show="authenticationError"
                 translate="login.messages.error.authentication">
                <strong>Authentication failed!</strong> Please check your credentials and try again.
            </div>

            <form class="form" role="form">
                <div class="form-group">
                    <label for="username" translate="global.form.username">Username</label>
                    <input type="text" class="form-control" id="username"
                           placeholder="{{'global.form.username.placeholder' | translate}}" ng-model="username">
                </div>
                <div class="form-group">
                    <label for="password" translate="login.form.password">Password</label>
                    <input type="password" class="form-control" id="password"
                           placeholder="{{'login.form.password.placeholder' | translate}}"
                           ng-model="password">
                </div>

                <button type="submit" class="btn btn-primary btn-block" ng-click="login()"
                        translate="login.form.button">
                    Login
                </button>

                <p>
                    <a href="javascript:void(0)">Forgot password?</a>
                </p>

                <p>
                    <a href="#/register">Create Account</a>
                </p>
            </form>

            <div class="alert alert-warning" translate="global.messages.info.authenticated">
                If you want to <a href="#/login">authenticate</a>, you can try the default login="admin" and
                password="admin".
            </div>

        </div>
        <div class="col-md-4"></div>
    </div>

</div>
