<!-- Modal -->
<div class="modal fade" id="createCommentModal" tabindex="-1" role="dialog" aria-labelledby="createCommentModal"
     aria-hidden="true">
    <form name="form" role="form" novalidate
          class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
          ng-submit="submitComment()">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">New Comment</h4>
                </div>
                <div class="modal-body">
                    <p>You can use <a href="http://en.wikipedia.org/wiki/Markdown">markdown</a>, if you want.</p>

                    <div class="form-group">
                        <textarea name="body" ng-model="draft.body" class="form-control"
                                  ng-minlength=5 ng-maxlength=1024 rows="10"
                                  required></textarea>
                    </div>
                    <!--<div>-->
                    <!-- todo create a dropdown to choose identities -->
                    <!-- Comment as <strong>{{login}}</strong>-->
                    <!--</div>-->

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        Cancel
                    </button>
                    <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid">
                        Send
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
