<div class="panel panel-default">
    <div class="panel-heading">
        <ul class="nav nav-pills">
            <li><a href="#/moderate/pending">Pending</a></li>
            <li class="active"><a href="#/moderate/reports">Reports</a></li>
        </ul>
    </div>
</div>

<div class="panel panel-default" ng-init="reset(); queryReports();">
    <div class="panel-body">

        <div ng-switch="entities.length > 0">
            <div ng-switch-when="false">
                Nothing found
            </div>
            <div ng-switch-default>

                <div ng-repeat="comment in entities">
                    <div ng-include="'reported_comment_renderer.template'"></div>
                    <hr>
                </div>

                <div class="text-center">
                    <a href="javascript:void(0)" ng-click="previousPage('queryPending')"
                       ng-disabled="$firstPage">&larr;
                        Previous</a>
                    {{$page +1}} of {{$pageCount}}
                    <a href="javascript:void(0)" ng-click="nextPage('queryPending')"
                       ng-disabled="$lastPage">Next &rarr;</a>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- templates -->

<script type="text/ng-template" id="reported_comment_renderer.template">
    <div>

        <div class="comment">

            <a href="#/users/{{::comment.authorId}}"><strong>{{::comment.authorId}}</strong></a>
            <span style="color: grey; font-size: smaller" title="{{::comment.createdDate | dateString }}">{{::comment.createdDate | fromNow }}</span>

            <div style="white-space: pre-line">{{::comment.body}}</div>
        </div>

        <!--{{comment.reports}}-->
        <div ng-repeat="report in comment.rreports">
            <div ng-include="'views/partial_report.html'"></div>
        </div>

        <div class="btn-toolbar" style="margin-top: 10px">
            <button type="button" class="btn btn-success btn-sm" ng-click="approveAllReports(comment.id)"><span
                    class="glyphicon glyphicon-ok"></span> Approve
            </button>
            <button type="button" class="btn btn-default btn-sm" ng-click="rejectAllReports(comment.id)"><span
                class="glyphicon glyphicon-remove"></span> Delete Reports
            </button>
        </div>

    </div>
</script>

<script type="text/ng-template" id="report_renderer.html">
    <div ng-class="{true:'abused-report', false:'report'}[report.abused]">
        <div>
            <span style="white-space: pre-line">{{::report.reason}}</span> -- <a href="#/users/{{::comment.authorId}}">
            {{:;report.authorId}} </a>
            <span style="color: grey"
                  title="{{report.createdDate | dateString }}">{{::report.createdDate | fromNow }}</span>
        </div>
    </div>
</script>
