<div ng-controller="ThreadController">

    <div class="clearfix klp-header">

        <div style="float: left">
            <h3 style="display: inline">
                <span ng-show="$tab =='pending'">Pending</span>
                <span ng-show="$tab =='reports'">Reports</span>
                : {{::thread.title}}
            </h3>
        </div>
        <div>
            <ul class="nav nav-pills pull-right">
                <li role="presentation">
                    <a href="#/moderate/{{$threadId}}/pending">
                        <span class="glyphicon glyphicon-bell" style="color: #E84B56;"
                              ng-show="$pendingCount > 0"></span>
                        Pending</a>
                </li>
                <li role="presentation">
                    <a href="#/moderate/{{$threadId}}/reports">
                        <span class="glyphicon glyphicon-bell" style="color: #E84B56;"
                              ng-show="$reportCount > 0"></span>
                        Reports</a>
                </li>
                <li role="presentation">
                    <a href="#/thread/{{$threadId}}">
                        <span>View</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>


    <div style="margin-top: 20px">

        <div ng-include="'views/pending.html'"></div>
        <div ng-include="'views/reports.html'"></div>

    </div>
</div>
