<div ng-controller="ThreadController">

    <h3 class="klp-header">
        Moderate {{thread.title}}
    </h3>

    <ul class="nav nav-tabs">
        <li role="presentation" ng-class="($tab =='pending') ? 'active':''"><a href="javascript:void(0)"
                                                                               ng-click="$tab ='pending'">Pending</a>
        </li>
        <li role="presentation" ng-class="($tab =='reports') ? 'active':''"><a href="javascript:void(0)"
                                                                               ng-click="$tab ='reports'">Reports</a>
        </li>
    </ul>

    <div style="margin-top: 20px">

        <div ng-include="'views/pending.html'"></div>
        <div ng-include="'views/reports.html'"></div>

    </div>
</div>
