<h3 class="klp-header">
    <a href="#/d">Dashboard</a> / Achievements
</h3>

<div class="col-lg-3 col-sm-4">
    <div class="list-group">
        <a href="#/d" class="list-group-item">Dashboard</a>
        <a href="#/notifications" class="list-group-item">Notifications</a>
        <a href="#/threads" class="list-group-item">Threads</a>
        <a href="#/comments" class="list-group-item">Comments I Made</a>
        <a href="#/likes" class="list-group-item">Likes</a>
        <a href="#/achievements" class="list-group-item active">Achievements</a>
    </div>
</div>

<div class="col-lg-9 col-sm-8">
    <div ng-init="fetchAchievements()">

        <div ng-switch on="achievements.length == 0">

            <div ng-switch-default>
                No Achievements
            </div>

            <div ng-switch-when="false" class="clearfix">
                <div ng-repeat="page in pages">
                    <div ng-repeat="achievement in page.achievements">
                        <div ng-include="'achievement_renderer.template'"></div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

<script type="text/ng-template" id="achievement_renderer.template">
    <div style="margin-bottom: 20px">
        <div>
            <span class="label label-success" ng-if="reputations[achievement.type] >= 0">{{::reputations[achievement.type]}}</span>
            <span class="label label-danger" ng-if="reputations[achievement.type] < 0">{{::reputations[achievement.type]}}</span>
            <strong>{{::achievement.text}}</strong>
        </div>

        <div ng-switch="achievement.$resource.$isComment">
            <comment-slim ng-model="achievement.$resource" ng-switch-when="true"/>
            <report ng-model="achievement.$resource" ng-switch-when="false"/>
        </div>

    </div>
</script>
