<h3 class="klp-header">
    <a href="#/d">Dashboard</a> / Notifications
</h3>

<div class="col-lg-3 col-sm-4">
    <div class="list-group">
        <a href="#/d" class="list-group-item">Dashboard</a>
        <a href="#/notifications" class="list-group-item active">Notifications</a>
        <a href="#/threads" class="list-group-item">Threads</a>
        <a href="#/comments" class="list-group-item">Comments I Made</a>
        <a href="#/likes" class="list-group-item">Likes</a>
        <a href="#/achievements" class="list-group-item">Achievements</a>
    </div>
</div>

<div class="col-lg-9 col-sm-8">

    <div ng-init="fetchAndRender()">

        <div ng-switch on="notices.length == 0">
            <div ng-switch-default>
                There are no notifications yet
            </div>
            <div ng-switch-when="false">

                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="notice in notices" ng-class="notice.seen ? '': 'fresh-item' ">

                        <div class="row">

                            <div ng-if="notice.$customized">
                                <div ng-bind-html="notice.$custom" class="col-md-10"></div>
                            </div>

                            <div ng-if="!notice.$customized">
                                <div class="col-md-2">
                                    <strong>{{::notice.type}}</strong>
                                </div>

                                <div class="col-md-8">
                                    for
                                    {{::notice.resourceId}}

                                    by
                                    <strong>{{::notice.initiatorId}}</strong>
                                </div>
                            </div>

                            <div class="col-md-2 text-right">
                                {{::notice.createdDate | fromNow}}
                            </div>
                        </div>

                    </li>
                </ul>

                <ul class="pagination">
                    <li><a href="javascript:void(0)" ng-click="previousPage()" ng-disabled="$firstPage">Previous</a>
                    </li>
                    <li class="active"><a href="javascript:void(0)">Page {{$page +1}} of {{$pageCount}}</a></li>
                    <li><a href="javascript:void(0)" ng-click="nextPage()" ng-disabled="$lastPage">Next</a></li>
                </ul>

            </div>
        </div>
    </div>
</div>
