<div ng-init="fetch()">

    <div class="clearfix klp-header">
        <h3 style="display: inline">
            Notifications
        </h3>
    </div>

    <div ng-switch on="notices.length == 0">
        <div ng-switch-default>
            There are no notifications yet
        </div>
        <div ng-switch-when="false">

            <ul class="list-group">
                <li class="list-group-item" ng-repeat="notice in notices">

                    <!-- todo if notice.read -> gray line -->

                    <div class="row">

                        <div class="col-md-1">
                            <strong>{{::notice.type}}</strong>
                        </div>

                        <div class="col-md-9">
                            for
                            {{::notice.resourceId}}

                            by
                            <strong>{{::notice.initiatorId}}</strong>
                        </div>

                        <div class="col-md-2 text-right">
                            {{::notice.createdDate | fromNow}}
                        </div>

                    </div>

                </li>
            </ul>
        </div>
    </div>
</div>
