<h2>Notices</h2>

<div class="box container">
    <div ng-switch on="notices.length == 0">
        <div ng-switch-default>
            <div class="alert alert-info" role="alert">No notification found</div>
        </div>
        <div ng-switch-when="false">
            <div class="row">
                <div class="pull-right">
                    <span class="text-muted"><b>1</b>&ndash;<b>50</b> of <b>277</b></span>

                    <div class="btn-group btn-group-sm">
                        <button class="btn btn-default" type="button">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </button>
                        <button class="btn btn-default" type="button">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="row">

                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="notice in notices">

                        <!-- todo if notice.read -> gray line -->

                        <div class="row">

                            <div class="col-md-1">
                                <strong>{{notice.type}}</strong>
                            </div>

                            <div class="col-md-9">
                                for
                                {{notice.commentId}}

                                by
                                <strong>{{notice.initiatorId}}</strong>
                            </div>

                            <div class="col-md-2 text-right">
                                {{notice.createdDate | fromNow}}
                            </div>

                        </div>

                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
