<h2>Notices</h2>

<div class="row">
    <div class="col-md-push-9 col-md-3">
        <div class="pull-right">
            <span class="text-muted"><b>1</b>&ndash;<b>50</b> of <b>277</b></span>

            <div class="btn-group btn-group-sm">
                <button class="btn btn-default" type="button">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </button>
                <button class="btn btn-default" type="button">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="box">
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="notice in notices">

            <!-- todo if notice.read -> gray line -->

            <div class="row">

                <div class="col-md-1">
                    <strong>{{notice.type}}</strong>
                </div>

                <div class="col-md-9">
                    for
                    {{notice.commentId}}

                    by
                    <strong>{{notice.initiatorId}}</strong>
                </div>

                <div class="col-md-2 text-right">
                    {{notice.createdDate | fromNow}}
                </div>

            </div>

        </li>
    </ul>
</div>
