<div class="in-ticker">
    <div class="comment">
        <!-- todo update all from-now fields, to keep time diff accurate -->
        <span class="from-now" data-moment="<%- comment.lastModifiedDate %>"><%- moment(comment.lastModifiedDate).fromNow() %></span>
        <span class="name"><%- comment.displayName %></span>
        <a class="voteUp always"
           href="javascript:void(0)" ng-click="like('<%- comment.id %>')">
            <%- comment.likes %>
            <span class="glyphicon glyphicon-thumbs-up"></span></a>

        <a class="voteDown always"
           href="javascript:void(0)" ng-click="dislike('<%- comment.id %>')">
            <%- comment.dislikes %>
            <span class="glyphicon glyphicon-thumbs-down"></span></a>

        &rarr; <a href="">to discussion</a>

        <div class="body"><%- comment.body %></div>
    </div>
</div>
