<!--ng-if="mainCtrl.authenticated"-->
<div style="padding-top: 10px;" class="clearfix col-lg-12 col-xs-12">

    <form novalidate ng-submit="draft.parentId = null; submit()">
        <div class="row">
            <textarea class="form-control field-comment" placeholder="Say Something" ng-model="draft.text"
                      ng-minlength=1 ng-maxlength=2048 required rows="1"></textarea>
        </div>
        <div class="row">
            <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">
                Submit
            </button>
        </div>
    </form>

</div>
