<div id="comment-<%- comment.id %>"
     class="comment-wrapper level-<%- comment.level %> <% if(comment.$pending) { %><%-'pending' %><% } %> <% if(comment.$oneline) { %><%-'oneline'  %><% } %>">
    <div
        class="comment"
        ng-comment-id="<%- comment.id %>"
        style="margin-left: <%- comment.level * 15 %>px; <% if(comment.level>0) { %>border-left: 1px solid #ececec;<% } %>">
        <a id="<%- comment.id %>"></a>

        <div class="row">

            <!-- content -->
            <div class="col-lg-12 col-xs-12">

                <div>

                    <a href="javascript:void(0)" ng-click="toggleReplies('<%- comment.id %>')"
                       class="icon">
                        <% if(comment.$repliesCount > 0) { %>
                        <span class="icon-implode glyphicon glyphicon-collapse-up" title="Collapse"></span>
                        <span class="icon-expand glyphicon glyphicon-collapse-down" title="Expand"></span><% } %></a>

                    <span class="name"><%- comment.displayName %></span>

                    <span class="date">
                        <%- moment(comment.createdDate).fromNow() %>
                    </span>
                    <span class="label label-warning label-pending">PENDING APPROVAL</span>

                    <% if(!comment.$oneline) { %>
                    <div class="dropdown pull-right" ng-if="$isMod">
                        <a href="javascript:void(0)" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="mod-menu">
                            <span class="caret"></span></a>

                        <ul class="dropdown-menu" role="menu">
                            <li role="presentation"><a href="javascript:void(0)" tabindex="-1" role="menuitem"
                                                       ng-click="markSpamComment('<%- comment.id %>')">Spam</a></li>
                            <li role="presentation"><a href="javascript:void(0)" tabindex="-1"
                                                       ng-click="deleteComment('<%- comment.id %>')"
                                                       role="menuitem">Delete</a>
                            </li>
                            <li role="presentation"><a href="javascript:void(0)" tabindex="-1" role="menuitem"
                                                       ng-click="deleteCommentAndBlacklistUser('<%- comment.authorId %>', '<%- comment.id %>')">Delete + Blacklist</a>
                            </li>
                        </ul>

                        <% if(comment.likes - comment.dislikes > 0) { %>
                        <span class="vote-stats">
                            <%- comment.likes - comment.dislikes %>
                            &uarr;
                        </span>
                        <% } %>

                    </div>
                    <% } %>

                    <div class="show-full-comment" style="float:right">
                        <a title="Show full comment" ng-click="verbose('<%- comment.id %>')"
                           href="javascript:void(0)">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>

                    <div class="body-wrapper">
                        <div class="body"><%= comment.bodyHtml %></div>
                    </div>

                </div>

                <%= fnRenderMenu({comment: comment}) %>

                <% if(comment.$repliesCount > 0) { %>
                <div class="toggle-replies-link"><a href="javascript:void(0)"
                                                    ng-click="toggleReplies('<%- comment.id %>')">View
                    <strong><%- comment.$repliesCount %></strong> <% if(comment.$repliesCount==1) { %>reply<% } else {
                    %>replies<% } %></a> <span class="glyphicon glyphicon-chevron-down"></span></div>
                <% } %>

            </div>

        </div>

        <div id="mod-<%- comment.id %>">
            <!-- to put report or reply form -->
        </div>

    </div>
</div>
