<div class="menu">
    <a href="javascript:void(0)" ng-click="showReplyModal('<%= comment.id %>', '<%= comment.body %>')">Reply</a>
    <a class="voteUp <% if (comment.likes>0) { %><%= 'always' %><% } %>"
       href="javascript:void(0)" ng-click="like('<%= comment.id %>')">
        <span class="glyphicon glyphicon-thumbs-up"></span>
        <%= comment.likes %></a>

    <a class="voteDown"
       href="javascript:void(0)" ng-click="dislike('<%= comment.id %>')">
        <span class="glyphicon glyphicon-thumbs-down"></span>
        <%= comment.dislikes %></a>

    <a ng-if="comment.parentId != null" href="#/thread/<%= comment.threadId %>?anchor=<%= comment.parentId %>">
        Parent</a>
    <a href="#/thread/<%= comment.threadId %>?anchor=<%= comment.id %>" title="Permalink">
        <span class="glyphicon glyphicon-link"></span>
    </a>

    <div class="flag pull-right">
        <a href="javascript:void(0)"
           ng-click="toggleReportForm('<%= comment.id %>')"
           title="Report this comment">
            <span class="glyphicon glyphicon-flag"></span>
        </a>
    </div>
</div>
