<div ng-controller="ProfileAchievementsController">
    <ul class="nav nav-tabs">
        <li><a href="#/profile/notifications">Notifications</a></li>
        <li><a href="#/profile/threads">Threads</a></li>
        <li><a href="#/profile/comments">Comments</a></li>
        <li><a href="#/profile/likes">Likes</a></li>
        <li class="active"><a href="#/profile/achievements">Achievements</a></li>
    </ul>

    <div ng-init="fetchAchievements()">

        <div ng-switch on="achievements.length == 0">

            <div ng-switch-default>
                No Achievements
            </div>

            <div ng-switch-when="false" class="clearfix">
                <div ng-repeat="page in pages">
                    <div ng-repeat="achievement in page.achievements">
                        <div ng-include="'achievement_renderer.template'"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="achievement_renderer.template">
    <div style="margin-bottom: 20px">
        <div>
            <span class="label label-success" ng-if="reputations[achievement.type] >= 0">{{::reputations[achievement.type]}}</span>
            <span class="label label-danger" ng-if="reputations[achievement.type] < 0">{{::reputations[achievement.type]}}</span>
            <strong>{{::achievement.text}}</strong>
        </div>

        <div ng-switch="achievement.$resource.$isComment">
            <comment-slim ng-model="achievement.$resource" ng-switch-when="true"/>
            <report ng-model="achievement.$resource" ng-switch-when="false"/>
        </div>

    </div>
</script>
