<div class="col-lg-12">
    <h3>
        <a href="#/d">Dashboard</a> / Achievements
    </h3>
</div>

<div class="col-lg-4">
    <div class="panel panel-default">
        <div class="panel-body">
            <ul class="list-unstyled">
                <li><a href="#/d">Dashboard</a></li>
                <li><a href="#/notifications">Notifications</a></li>
                <li><a href="#/threads">Threads</a></li>
                <li><a href="#/comments">Comments I Made</a></li>
                <li><a href="#/likes">Likes</a></li>
                <li><a href="#/achievements" class="active">Achievements</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="col-lg-8">
    <div class="panel panel-default">
        <div class="panel-body">

            <div ng-init="fetchAchievements()">

                <div ng-switch on="achievements.length == 0">

                    <div ng-switch-default>
                        No Achievements
                    </div>

                    <div ng-switch-when="false" class="clearfix">
                        <div ng-repeat="page in pages">
                            <div ng-repeat="achievement in page.achievements">
                                <div ng-include="'achievement_renderer.template'"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script type="text/ng-template" id="achievement_renderer.template">
    <div style="margin-bottom: 20px">
        <div>
            <span class="label label-success" ng-if="reputations[achievement.type] >= 0">{{::reputations[achievement.type]}}</span>
            <span class="label label-danger" ng-if="reputations[achievement.type] < 0">{{::reputations[achievement.type]}}</span>
            <strong>{{::achievement.text}}</strong>
        </div>

        <div ng-switch="achievement.$resource.$isComment">
            <comment-slim ng-model="achievement.$resource" ng-switch-when="true"/>
            <report ng-model="achievement.$resource" ng-switch-when="false"/>
        </div>

    </div>
</script>
