<div ng-init="reset(); queryComments()">

    <div class="panel panel-default">
        <div class="panel-heading">
            <ul class="nav nav-pills">
                <li class="active"><a href="#/profile/comments">Comments</a></li>
                <li><a href="#/profile/likes">Likes</a></li>
                <li><a href="#/profile/notifications">Notifications</a></li>
                <li><a href="#/profile/achievements">Achievements</a></li>
                <li><a href="#/profile/ignored-users">Ignored Users</a></li>
            </ul>
        </div>
    </div>

    <!-- todo gamify-->
    <div class="progress" style="height:4px">
        <div style="width: 55%" class="progress-bar progress-bar-danger">
            <span class="sr-only">35% Complete (success)</span>
        </div>
        <div style="width: 10%" class="progress-bar progress-bar-warning progress-bar-striped">
            <span class="sr-only">20% Complete (warning)</span>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">

            <div ng-switch="entities.length > 0">
                <div ng-switch-when="false">
                    Nothing found
                </div>
                <div ng-switch-default>

                    <div ng-repeat="entity in entities">
                        <comment-slim ng-model="entity"/>
                    </div>

                    <div class="text-center">
                        <a href="javascript:void(0)" ng-click="previousPage('queryComments')"
                           ng-disabled="$firstPage">&larr;
                            Previous</a>
                        {{$page +1}} of {{$pageCount}}
                        <a href="javascript:void(0)" ng-click="nextPage('queryComments')"
                           ng-disabled="$lastPage">Next &rarr;</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
