<div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <ul class="nav nav-pills" role="tablist">
                <li><a href="#/profile/comments">Comments</a></li>
                <li class="active"><a href="#/profile/likes">Likes</a></li>
                <li><a href="#/profile/notifications">Notifications</a></li>
                <li><a href="#/profile/achievements">Achievements</a></li>
                <li><a href="#/profile/ignored-users">Ignored Users</a></li>
            </ul>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <div ng-init="fetchVotes()">

                <div ng-switch on="likes.length == 0">

                    <div ng-switch-default>
                        No likes found
                    </div>

                    <div ng-switch-when="false" class="clearfix">
                        <div ng-repeat="comment in likes | orderBy:$vote.createdDate">

                            <div style="margin-bottom: 15px">

                                <div>

                                    <span class="glyphicon glyphicon-thumbs-up" ng-if="comment.$vote.like"
                                          style="color:green;"></span>
                                    <span class="glyphicon glyphicon-thumbs-down" ng-if="!comment.$vote.like"
                                          style="color:red;"></span>

                                    {{::comment.$vote.createdDate|fromNow}}

                                </div>

                                <comment-slim ng-model="comment"/>

                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

</div>
