<div ng-controller="ProfileCommentsController">

    <div class="panel panel-default">
        <div class="panel-heading">
            <ul class="nav nav-pills">
                <li><a href="#/profile/notifications">Notifications</a></li>
                <li class="active"><a href="#/profile/comments">Comments</a></li>
                <li><a href="#/profile/likes">Likes</a></li>
                <li><a href="#/profile/achievements">Achievements</a></li>
            </ul>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">

            <div ng-switch="entities.length > 0">
                <div ng-switch-when="false">
                    Nothing found
                </div>
                <div ng-switch-default>

                    <div ng-repeat="entity in entities">
                        {{entity.id}}
                    </div>

                    <div class="text-center">
                        <a href="javascript:void(0)" ng-click="previousPage()" ng-disabled="$firstPage">&larr;
                            Previous</a>
                        {{$page +1}} of {{$pageCount}}
                        <a href="javascript:void(0)" ng-click="nextPage()" ng-disabled="$lastPage">Next &rarr;</a>
                    </div>

                </div>
            </div>

        </div>
    </div>

</div>
