<div ng-switch on="pending.length == 0" ng-show="$tab =='reports'" ng-controller="ReportController">

    <div ng-switch-default>
        No pending reports.
    </div>
    <div ng-switch-when="false" class="clearfix">
        <div ng-repeat="comment in reportedComments">

            <div ng-include="'reported_comment_renderer.template'"></div>

            <hr>

        </div>
    </div>
</div>

<script type="text/ng-template" id="reported_comment_renderer.template">
    <div>

        <div class="post">

            <a href="#/users/{{comment.authorId}}"><strong>{{comment.authorId}}</strong></a>
            <span style="color: grey; font-size: smaller" title="{{comment.createdDate | dateString }}">{{comment.createdDate | fromNow }}</span>

            <div style="white-space: pre-line">{{comment.text}}</div>
        </div>

        <!--{{comment.reports}}-->
        <div ng-repeat="report in comment.rreports">
            <div ng-include="'report_renderer.html'"></div>
        </div>

        <div class="btn-toolbar" style="margin-top: 10px">
            <button type="button" class="btn btn-success btn-sm" ng-click="approveReports(comment.id)"><span
                    class="glyphicon glyphicon-ok"></span> Approve
            </button>
            <button type="button" class="btn btn-default btn-sm" ng-click="rejectReports(comment.id)"><span
                    class="glyphicon glyphicon-remove"></span> Delete
            </button>
        </div>

    </div>
</script>

<script type="text/ng-template" id="report_renderer.html">
    <div ng-class="{true:'abused-report', false:'report'}[report.abused]">
        <div>
            <span style="white-space: pre-line">{{report.reason}}</span> -- <a href="#/users/{{comment.authorId}}">
            {{report.authorId}} </a>
            <span style="color: grey"
                  title="{{report.createdDate | dateString }}">{{report.createdDate | fromNow }}</span>
        </div>
    </div>
</script>
