<div class="menu">
    <a href="javascript:void(0)"
       ng-click="showReplyModal('<%- comment.id %>', '<%- comment.body %>')">Reply</a>
    <a class="voteUp <% if (comment.likes>0) { %><%- 'always' %><% } %>"
       href="javascript:void(0)" ng-click="like('<%- comment.id %>')">
        <%- comment.likes %>
        <span class="glyphicon glyphicon-thumbs-up"></span></a>

    <a class="voteDown"
       href="javascript:void(0)" ng-click="dislike('<%- comment.id %>')">
        <%- comment.dislikes %>
        <span class="glyphicon glyphicon-thumbs-down"></span></a>

    <% if(comment.parentId != null) { %>
    <a href="#/v/<%- comment.threadId %>?anchor=<%- comment.parentId %>">
        Parent</a>
    <% } %>

    <div class="flag pull-right">
        <a href="javascript:void(0)" ng-click="ignoreAuthorOf('<%- comment.id %>')">
            Ignore
        </a>
        <a href="#/v/<%- comment.threadId %>/<%- comment.id %>">
            Permalink
        </a>
        <a href="javascript:void(0)"
           ng-click="showReportModal('<%- comment.id %>')"
           title="Report this comment">
            <span class="glyphicon glyphicon-flag"></span>
        </a>
    </div>
</div>
