<div class="comment">

    <a href="javascript:void(0)"><strong>{{::comment.displayName}}</strong></a>
    <span style="color: grey; font-size: smaller" title="{{comment.createdDate | dateString }}">{{::comment.createdDate | fromNow }}</span>
    &rarr;
    <a href="#/comments/{{::comment.threadId }}#{{::comment.id }}">to discussion</a>

    <div style="white-space: pre-line">{{::comment.bodyHtml}}</div>

    <div class="menu">
        <a class="voteUp"
           href="javascript:void(0)">
            {{comment.likes}}
            <span class="glyphicon glyphicon-thumbs-up"></span></a>

        <a class="voteDown"
           href="javascript:void(0)">
            {{ comment.dislikes }}
            <span class="glyphicon glyphicon-thumbs-down"></span></a>

    </div>

</div>
