<div ng-class="{true:'abused-report', false:'report'}[report.abused]">
    <div>
        <span style="white-space: pre-line" class="ng-binding"><strong>{{::report.reason}}</strong> <span
            ng-if="report.reasonId == 0"> with: {{::report.customReason}}</span></span> -- <a
        href="#/users/{{comment.authorId}}">
        {{report.authorId}} </a>
        <span title="{{report.createdDate | dateString }}"
              style="color: grey">{{::report.createdDate | fromNow }}</span>
    </div>
</div>
