<div class="col-lg-push-3 col-lg-6">

    <h3>Start a Discussion</h3>

    <form name="form" role="form" novalidate ng-submit="create()">

        <div class="panel panel-default">
            <div class="panel-body">

                <div>
                    Hi, glad you're taking the lead. Note that you will become moderator for this discussion. As a mod you have the duty of steering the discussion i an appropiate direction an to keep out vandals. Good luck!
                </div>

                <hr>

                <div class="row form-group">
                    <div class="col-md-3">Title*</div>
                    <div class="col-md-9">
                        <input name="title" class="form-control" ng-model="thread.title"
                               placeholder="6-10 words is the magic headline range!" required ng-minlength="10"
                               ng-maxlength="64">

                        <div class="error-container"
                             ng-show="form.title.$dirty && form.title.$invalid">
                            <small ng-show="form.title.$error.required">
                                Title is required.
                            </small>
                            <small ng-show="form.title.$error.minlength">
                                Title is required to be at least 10 characters
                            </small>
                            <small ng-show="form.title.$error.maxlength">
                                Title cannot be longer than 64 characters
                            </small>
                        </div>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-md-3">Teaser*</div>
                    <div class="col-md-9">
                        <textarea name="body" class="form-control" placeholder="For the lead comment, brevity is the key."
                                  ng-model="thread.body"
                                  ng-minlength=2 ng-maxlength=2048 required style="height: 170px"></textarea>

                        <div class="error-container"
                             ng-show="form.body.$dirty && form.body.$invalid">
                            <small ng-show="form.body.$error.required">
                                Text is required.
                            </small>
                            <small ng-show="form.body.$error.minlength">
                                Text is required to be at least 2 characters
                            </small>
                            <small ng-show="form.body.$error.maxlength">
                                Text cannot be longer than 2048 characters
                            </small>
                        </div>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-md-3">Web Hooks</div>
                    <div class="col-md-9">
                        <textarea name="text" class="form-control" placeholder="Space separated urls"
                                  ng-model="thread.$uriHooks"
                                  ng-minlength=2 ng-maxlength=2048></textarea>

                        <div class="error-container"
                             ng-show="form.body.$dirty && form.body.$invalid">
                            <small ng-show="form.body.$error.maxlength">
                                Text cannot be longer than 2048 characters
                            </small>
                        </div>
                    </div>
                </div>

                <div class="row form-group" ng-show="!$advanced">
                    <div class="col-md-push-3 col-md-9">
                        <a href="javascript:void(0)" ng-click="$advanced = !$advanced">Show advanced fields</a>
                    </div>
                </div>

                <div ng-show="$advanced">
                    <div class="row form-group">
                        <div class="col-md-3">Additional Mods</div>
                        <div class="col-md-9">
                            <input name="title" class="form-control" ng-model="thread.$modIds"
                                   placeholder="Other mods beyond you"
                                   ng-maxlength="64">
                        </div>
                    </div>
                </div>

            </div>

            <div class="panel-footer">
                <div class="form-group">
                    <button type="reset" class="btn btn-default">
                        Cancel
                    </button>
                    <button type="submit" class="btn btn-primary pull-right">
                        Create Discussion
                    </button>
                </div>

            </div>

        </div>

    </form>

</div>
