<h2>Spread the word</h2>

<div class="flash flash-info">
    <a href="#/thread/{{threadId}}">Thread is created</a>. Now, promote your discussion!
</div>

<div class="box box-padding">

        <div class="share">

            <h3>Verbreiten Sie die Aktion im Netz!</h3>

            <div>
                <a target="_blank"
                   href="http://www.facebook.com/sharer.php?u=https%3A%2F%2Fwww.campact.de%2Fttip-ebi%2Febi-appell%2F%3Futm_term%3Dinside-flow%26utm_medium%3Drecommendation%26utm_campaign%3D%252Fttip-ebi%252Febi-appell%26utm_source%3Drec-fb%26utm_content%3Drandom-a">
                    <span>via Facebook teilen</span></a>
                <a target="_blank"
                   href="https://plus.google.com/share?url=https%3A%2F%2Fwww.campact.de%2Fttip-ebi%2Febi-appell%2F%3Futm_term%3Dinside-flow%26utm_medium%3Drecommendation%26utm_campaign%3D%252Fttip-ebi%252Febi-appell%26utm_source%3Drec-gp%26utm_content%3Drandom-a">
                    <span>via Google+ teilen</span></a>
                <a target="_blank"
                   href="http://twitter.com/share?url=https%3A%2F%2Fwww.campact.de%2Fttip-ebi%2Febi-appell%2F&amp;text=Mit+1+Mio+Unterschriften+f%C3%BCr+selbstorganisierte+%23EBI+stoppen+wir+%23TTIP+%26+%23CETA.+Jetzt+unterzeichnen%21&amp;via=campact">
                    <span>via Twitter teilen</span></a>
            </div>

        </div>



    <div class="c3k-share-mailer clearfix">
        <div class="clearfix">
            <div class="c3k-counter">
                <span class="c3k-sprite">&nbsp;</span>
                <span class="c3k-value">111519</span>
            </div>
            <div class="c3k-left-panel">
                <div class="c3k-description">
                    <h4>Via E-Mail empfehlen!</h4>
                    <div class="c3k-hint">mit eigenem <a target="_blank" href="mailto:?body=Hallo%2C%0A%0Adie%20EU-Kommission%20verweigert%20uns%20eine%20offizielle%20Europaeische%20Buergerinitiative%20gegen%20TTIP%20und%20CETA.%20Jetzt%20organisieren%20wir%20sie%20zusammen%20mit%20250%20Organisationen%20aus%20ganz%20Europa%20einfach%20selbst%21%20Das%20Ziel%3A%20Eine%20Million%20Unterschriften%20-%20damit%20die%20Handels-%20und%20Investitionsabkommen%20politisch%20nicht%20mehr%20durchsetzbar%20sind.%0A%0AIch%20habe%20gerade%20die%20selbstorganisierte%20Buergerinitiative%20unterschrieben.%20Unterzeichne%20bitte%20auch%20Du%3A%0A%0Ahttps%3A//www.campact.de/Stop-TTIP-EBI%0A%0ABeste%20Gruesse%0AMarkus%20Ruepp&amp;subject=Die%20EU-Kommission%20will%20nicht%2C%20dass%20du%20das%20hier%20liest">Mail-Programm</a></div>
                </div>
                <div class="c3k-recipient-list">

                    <div class="c3k-sender">
                        <form class="clearfix">
                            <div class="c3k-fieldwrapper c3k-fieldwrapper-text c3k-fieldwrapper-fromname required">
                                <div>
                                    <label for="fromname">
                                        <span class="c3k-label">Ihr Name</span>
                                        <span class="c3k-label c3k-label-error">Name ist erforderlich</span>
                                    </label>
                                </div>
                                <input type="text" value="Markus Ruepp" id="fromname" name="fromname">
                            </div>
                            <div class="c3k-fieldwrapper c3k-fieldwrapper-text c3k-fieldwrapper-fromemailaddress required">
                                <div>
                                    <label for="fromemailaddress">
                                        <span class="c3k-label">Ihre E-Mail-Adresse</span>
                                        <span class="c3k-label c3k-label-error">Ungültige E-Mail-Adresse</span>
                                    </label>
                                </div>
                                <input type="text" value="maggo.ruepp@gmail.com" id="fromemailaddress" name="fromemailaddress">
                            </div>
                        </form>
                    </div>

                    <div class="c3k-recipient-add-wrapper clearfix">
                        <form>




                            <div class="c3k-fieldwrapper c3k-fieldwrapper-csrf c3k-fieldwrapper-hidden">


                                <input type="hidden" value="45f25ef9a8d54e66a9fffdb53763b021" name="csrf" id="69757c99b84e4a099195827b8c105ba9-csrf">



                            </div>





                            <div class="c3k-fieldwrapper c3k-fieldwrapper-text c3k-fieldwrapper-emailaddress">
                                <div>
                                    <label for="emailaddress">
                                        <span class="c3k-label">E-Mail-Adressen &ndash; via Komma getrennt &ndash; max. 50</span>
                                        <span class="c3k-label c3k-label-error">Ungültige E-Mail-Adresse</span>
                                        <div class="c3k-label c3k-label-error c3k-overflow-error">Sie können maximal 50 E-Mail-Adressen angeben</div>
                                    </label>
                                </div>
                                <input type="text" id="emailaddress" name="emailaddress">
                            </div>
                            <div class="c3k-add-button">Hinzufügen</div>
                        </form>
                    </div>
                    <div class="c3k-recipients">
                        <div class="c3k-recipients-panel-wrapper">
                            <div class="items">
                                <div class="c3k-recipients-panel"></div>
                            </div>
                        </div>
                        <div class="c3k-recipients-nav c3k-recipients-nav-hidden">
                            <div class="navi"><a class="active"></a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="c3k-right-panel">
                <div class="c3k-mail">
                    <div class="c3k-subject">Betreff: <strong>Die EU-Kommission will nicht, dass du das hier liest</strong></div>
                    <div class="c3k-body">Markus Ruepp empfiehlt Ihnen die Online-Aktion: https://www.campact.de/Stop-TTIP-EBI</div>
                    <form>
                        <div class="c3k-fieldwrapper c3k-fieldwrapper-textarea">
                            <textarea name="custom_body">Hallo,

                                die EU-Kommission verweigert uns eine offizielle Europäische Bürgerinitiative gegen TTIP und CETA. Jetzt organisieren wir sie zusammen mit 250 Organisationen aus ganz Europa einfach selbst! Das Ziel: Eine Million Unterschriften - damit die Handels- und Investitionsabkommen politisch nicht mehr durchsetzbar sind.

                                Ich habe gerade die selbstorganisierte Bürgerinitiative unterschrieben. Unterzeichne bitte auch Du:

                                https://www.campact.de/Stop-TTIP-EBI

                                Beste Grüße
                                Markus Ruepp</textarea>
                        </div>
                        <div class="c3k-button-wrapper">
                            <a class="c3k-submit-button"></a>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>









</div>