<h3 class="klp-header">
    <a href="#/d">Dashboard</a> / <a href="">Threads</a> / Pending Comments
</h3>

<div class="col-lg-3 col-sm-4">
    <div class="list-group">
        <a href="#/d" class="list-group-item">Dashboard</a>
        <a href="#/notifications" class="list-group-item">Notifications</a>
        <a href="#/threads" class="list-group-item">Threads</a>
        <a href="#/threads/pending" class="list-group-item active">&gt; Pending Comments</a>
        <a href="#/threads/reported" class="list-group-item">&gt; Reported Comments</a>
        <a href="#/comments" class="list-group-item">Comments I Made</a>
        <a href="#/likes" class="list-group-item">Likes</a>
        <a href="#/achievements" class="list-group-item">Achievements</a>
    </div>
</div>

<div class="col-lg-9 col-sm-8">

    <!--todo Get threads where user is active -->
    All pending comments in threads I am mod
</div>
