<h2>Threads</h2>

<div class="flash flash-info">
    There are some pending comments <a href="">review</a>
</div>

<div class="box list-group">
    <div class="list-group-item row" ng-repeat="thread in threads">
        <!--<div class="col-lg-1">-->
        <!--{{thread.likes}}-->
        <!--</div>-->
        <div class="col-lg-12">
            <h4>
                <a href="#/thread/{{thread.id}}">{{thread.title}}</a>
            </h4>

            <div><span style="color: gray">Submitted {{thread.createdDate | fromNow}}</span></div>
            <div>{{thread.commentCount}} comments</div>
            <div ng-show="thread.tags!=null && thread.tags.length>0">
                <a href="#/tags/{{tag.name}}" ng-repeat="tag in thread.tags" class="badge">
                    {{tag.name}}
                </a>
            </div>
        </div>
    </div>
</div>