<div class="panel panel-default">
    <div class="panel-heading">
        <ul class="nav nav-pills">
            <li><a href="#/tools/metrics">Metrics</a></li>
            <li><a href="#/tools/tracker">Tracker</a></li>
            <li><a href="#/tools/logs">Logs</a></li>
            <li><a href="#/tools/audits">Audits</a></li>
            <li><a href="#/tools/privileges">Privileges</a></li>
            <li class="active"><a href="#/tools/sites">Sites</a></li>
        </ul>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-body">

        <h2>Sites</h2>

        <div>implement</div>
    </div>
</div>
